In [122]:
import pandas as pd

<h2>Christian McCaffrey 2023

In [123]:
url_cmac = "https://www.pro-football-reference.com/players/M/McCaCh01.htm"
cmac = pd.read_html(url_cmac)
cmac = cmac[1]
display(cmac)

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 Year                Age                 Tm
0                2017                 21                CAR
1                2018                 22                CAR
2              2019*+                 23                CAR
3                2020                 24                CAR
4                2021                 25                CAR
5               2022*                 26                2TM
6                   *                NaN                CAR
7                   *                NaN                SFO
8                2023                 27                SFO
9              Career             Career                NaN
10              6 yrs              6 yrs                CAR
11              2 yrs              2 yrs                SFO

   Unnamed: 3_level_0 Unnamed: 4_level_0 Games     Rushing            ...  \
                  Pos                No.     G  GS     Att   Yds  TD  ...
0                  RB               22.0    16  10     117   435   2  ...
1                  RB               22.0    16  16     219  1098   7  ...
2                  RB               22.0    16  16     287  1387  15  ...
3                  RB               22.0     3   3      59   225   5  ...
4                  RB               22.0     7   7      99   442   1  ...
5                  RB                NaN    17  16     244  1139   8  ...
6                  RB               22.0     6   6      85   393   2  ...
7                  RB               23.0    11  10     159   746   6  ...
8                  RB               23.0    14  14     244  1292  13  ...
9                 NaN                NaN    89  82    1269  6018  51  ...
10                NaN                NaN    64  58     866  3980  32  ...
11                NaN                NaN    25  24     403  2038  19  ...

   Receiving              Unnamed: 28_level_0 Unnamed: 29_level_0  \
         Y/G  Ctch% Y/Tgt               Touch               Y/Tch
0       40.7  70.8%   5.8                 197                 5.5
1       54.2  86.3%   7.0                 326                 6.0
2       62.8  81.7%   7.1                 403                 5.9
3       49.7  89.5%   7.8                  76                 4.9
4       49.0  90.2%   8.4                 136                 5.8
5       43.6  78.7%   6.9                 329                 5.7
6       46.2  76.7%   6.4                 118                 5.7
7       42.2  80.0%   7.1                 211                 5.7
8       36.4  83.8%   7.5                 301                 6.0
9       47.9  81.1%   6.9                1768                 5.8
10      51.4  80.9%   6.8                1256                 5.8
11      38.9  82.0%   7.3                 512                 5.9

   Unnamed: 30_level_0 Unnamed: 31_level_0 Unnamed: 32_level_0  \
                  YScm                RRTD                 Fmb
0                 1086                   7                   2
1                 1965                  13                   4
2                 2392                  19                   1
3                  374                   6                   0
4                  785                   2                   1
5                 1880                  13                   1
6                  670                   3                   0
7                 1210                  10                   1
8                 1801                  20                   3
9                10283                  80                  12
10                7272                  50                   8
11                3011                  30                   4

   Unnamed: 33_level_0       Unnamed: 34_level_0
                    AV                    Awards
0                  9.0                       NaN
1                 16.0                       AP2
2                 15.0        AP OPoY-3, AP1, PB
3                  3.0                       NaN
4                  5.0                       NaN
5                 15.0  AP OPoY-7, AP CPoY-2, PB
6                  5.0  AP OPoY-7, AP CPoY-2, PB
7                 10.0  AP OPoY-7, AP CPoY-2, PB
8                  NaN                       NaN
9                 63.0                       NaN
10                53.0                       NaN
11                10.0                       NaN

[12 rows x 35 columns]

In [124]:
cmac.columns = cmac.columns.droplevel(0)
display(cmac)

,Year,Age,Tm,Pos,No.,G,GS,Att,Yds,TD,...,Y/G,Ctch%,Y/Tgt,Touch,Y/Tch,YScm,RRTD,Fmb,AV,Awards
0,2017,21,CAR,RB,22.0,16,10,117,435,2,...,40.7,70.8%,5.8,197,5.5,1086,7,2,9.0,NaN
1,2018,22,CAR,RB,22.0,16,16,219,1098,7,...,54.2,86.3%,7.0,326,6.0,1965,13,4,16.0,AP2
2,2019*+,23,CAR,RB,22.0,16,16,287,1387,15,...,62.8,81.7%,7.1,403,5.9,2392,19,1,15.0,"AP OPoY-3, AP1, PB"
3,2020,24,CAR,RB,22.0,3,3,59,225,5,...,49.7,89.5%,7.8,76,4.9,374,6,0,3.0,NaN
4,2021,25,CAR,RB,22.0,7,7,99,442,1,...,49.0,90.2%,8.4,136,5.8,785,2,1,5.0,NaN
5,2022*,26,2TM,RB,NaN,17,16,244,1139,8,...,43.6,78.7%,6.9,329,5.7,1880,13,1,15.0,"AP OPoY-7, AP CPoY-2, PB"
6,*,NaN,CAR,RB,22.0,6,6,85,393,2,...,46.2,76.7%,6.4,118,5.7,670,3,0,5.0,"AP OPoY-7, AP CPoY-2, PB"
7,*,NaN,SFO,RB,23.0,11,10,159,746,6,...,42.2,80.0%,7.1,211,5.7,1210,10,1,10.0,"AP OPoY-7, AP CPoY-2, PB"
8,2023,27,SFO,RB,23.0,14,14,244,1292,13,...,36.4,83.8%,7.5,301,6.0,1801,20,3,NaN,NaN
9,Career,Career,NaN,NaN,NaN,89,82,1269,6018,51,...,47.9,81.1%,6.9,1768,5.8,10283,80,12,63.0,NaN
10,6 yrs,6 yrs,CAR,NaN,NaN,64,58,866,3980,32,...,51.4,80.9%,6.8,1256,5.8,7272,50,8,53.0,NaN
11,2 yrs,2 yrs,SFO,NaN,NaN,25,24,403,2038,19,...,38.9,82.0%,7.3,512,5.9,3011,30,4,10.0,NaN

In [125]:
cmac_2023 = cmac.query('Year == "2023" ')
display(cmac_2023)

,Year,Age,Tm,Pos,No.,G,GS,Att,Yds,TD,...,Y/G,Ctch%,Y/Tgt,Touch,Y/Tch,YScm,RRTD,Fmb,AV,Awards
8,2023,27,SFO,RB,23.0,14,14,244,1292,13,...,36.4,83.8%,7.5,301,6.0,1801,20,3,NaN,NaN

In [126]:
cmac_2023 = cmac_2023[["Year", "G", "Yds", "TD"]]
display(cmac_2023)

   Year   G   Yds  Yds  TD  TD
8  2023  14  1292  509  13   7

In [127]:
cmac_2023.columns = ["Year", "G", "Rush_Yds", "Rec_Yds", "Rush_TDs", "Rec_TDs"]
display(cmac_2023)

   Year   G  Rush_Yds  Rec_Yds  Rush_TDs  Rec_TDs
8  2023  14      1292      509        13        7

In [128]:
cmac_2023.dtypes

Year        object
G            int64
Rush_Yds     int64
Rec_Yds      int64
Rush_TDs     int64
Rec_TDs      int64
dtype: object

In [129]:
cmac_2023["Total_Yds"] = cmac_2023["Rush_Yds"] + cmac_2023["Rec_Yds"]
cmac_2023["Total_TDs"] = cmac_2023["Rush_TDs"] + cmac_2023["Rec_TDs"]
cmac_2023["Player"] = "Christian McCaffrey"
display(cmac_2023)

,Year,G,Rush_Yds,Rec_Yds,Rush_TDs,Rec_TDs,Total_Yds,Total_TDs,Player
8,2023,14,1292,509,13,7,1801,20,Christian McCaffrey

In [130]:
cmac_2023_final = cmac_2023[["Year", "Player", "G", "Rush_Yds", "Rec_Yds", "Total_Yds", "Rush_TDs", "Rec_TDs",  "Total_TDs"]]
display(cmac_2023_final)

,Year,Player,G,Rush_Yds,Rec_Yds,Total_Yds,Rush_TDs,Rec_TDs,Total_TDs
8,2023,Christian McCaffrey,14,1292,509,1801,13,7,20

<h2>Adrian Peterson 2012

In [131]:
url_ad = "https://www.pro-football-reference.com/players/P/PeteAd01.htm"
ad = pd.read_html(url_ad)
ad = ad[0]
display(ad)

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 Year                Age                 Tm
0               2007*                 22                MIN
1              2008*+                 23                MIN
2              2009*+                 24                MIN
3               2010*                 25                MIN
4                2011                 26                MIN
5              2012*+                 27                MIN
6               2013*                 28                MIN
7                2014                 29                MIN
8              2015*+                 30                MIN
9                2016                 31                MIN
10               2017                 32                2TM
11                NaN                NaN                ARI
12                NaN                NaN                NOR
13               2018                 33                WAS
14               2019                 34                WAS
15               2020                 35                DET
16               2021                 36                2TM
17                NaN                NaN                TEN
18                NaN                NaN                SEA
19             Career             Career                NaN
20             10 yrs             10 yrs                MIN
21              2 yrs              2 yrs                WAS
22               1 yr               1 yr                ARI
23               1 yr               1 yr                DET
24               1 yr               1 yr                NOR
25               1 yr               1 yr                SEA
26               1 yr               1 yr                TEN

   Unnamed: 3_level_0 Unnamed: 4_level_0 Games      Rushing              ...  \
                  Pos                No.     G   GS     Att    Yds   TD  ...
0                  RB               28.0    14    9     238   1341   12  ...
1                  RB               28.0    16   15     363   1760   10  ...
2                  RB               28.0    16   15     314   1383   18  ...
3                  RB               28.0    15   15     283   1298   12  ...
4                  RB               28.0    12   12     208    970   12  ...
5                  RB               28.0    16   16     348   2097   12  ...
6                  RB               28.0    14   14     279   1266   10  ...
7                  RB               28.0     1    1      21     75    0  ...
8                  RB               28.0    16   16     327   1485   11  ...
9                  RB               28.0     3    3      37     72    0  ...
10                 RB                NaN    10    7     156    529    2  ...
11                 RB               23.0     6    6     129    448    2  ...
12                 RB               28.0     4    1      27     81    0  ...
13                 RB               26.0    16   16     251   1042    7  ...
14                 RB               26.0    15   15     211    898    5  ...
15                 RB               28.0    16   10     156    604    7  ...
16                 RB                NaN     4    3      38     98    2  ...
17                 RB                8.0     3    2      27     82    1  ...
18                 RB               21.0     1    1      11     16    1  ...
19                NaN                NaN   184  167    3230  14918  120  ...
20                NaN                NaN   123  116    2418  11747   97  ...
21                NaN                NaN    31   31     462   1940   12  ...
22                NaN                NaN     6    6     129    448    2  ...
23                NaN                NaN    16   10     156    604    7  ...
24                NaN                NaN     4    1      27     81    0  ...
25                NaN                NaN     1    1      11     16    1  ...
26                NaN                NaN     3    2      27     82    1  ...

   Receiving               Unnamed: 28_level_0 Unnamed: 29_level_0  \
         Y/G   Ctch% Y/Tgt               Touch               Y/Tch
0       19.1   67.9%   9.6                 257                 6.3
1        7.8   53.8%   3.2                 384                 4.9
2       27.3   75.4%   7.6                 357                 5.1
3       22.7   72.0%   6.8                 319                 5.1
4       11.6   75.0%   5.8                 226                 4.9
5       13.6   78.4%   4.3                 388                 6.0
6       12.2   72.5%   4.3                 308                 4.7
7       18.0   66.7%   6.0                  23                 4.0
8       13.9   83.3%   6.2                 357                 4.8
9        2.7   50.0%   1.3                  40                 2.0
10       7.0   57.9%   3.7                 167                 3.6
11      11.0   56.3%   4.1                 138                 3.7
12       1.0   66.7%   1.3                  29                 2.9
13      13.0   76.9%   8.0                 271                 4.6
14       9.5   73.9%   6.2                 228                 4.6
15       6.3   66.7%   5.6                 168                 4.2
16       2.0  100.0%   2.0                  42                 2.5
17       2.7  100.0%   2.0                  31                 2.9
18       NaN     NaN   NaN                  11                 1.5
19      13.4   71.9%   5.8                3535                 4.9
20      15.8   72.2%   5.8                2659                 5.1
21      11.3   75.5%   7.1                 499                 4.6
22      11.0   56.3%   4.1                 138                 3.7
23       6.3   66.7%   5.6                 168                 4.2
24       1.0   66.7%   1.3                  29                 2.9
25       NaN     NaN   NaN                  11                 1.5
26       2.7  100.0%   2.0                  31                 2.9

   Unnamed: 30_level_0 Unnamed: 31_level_0 Unnamed: 32_level_0  \
                  YScm                RRTD                 Fmb
0                 1609                  13                 4.0
1                 1885                  10                 9.0
2                 1819                  18                 7.0
3                 1639                  13                 1.0
4                 1109                  13                 1.0
5                 2314                  13                 4.0
6                 1437                  11                 5.0
7                   93                   0                 0.0
8                 1707                  11                 7.0
9                   80                   0                 1.0
10                 599                   2                 3.0
11                 514                   2                 3.0
12                  85                   0                 0.0
13                1250                   8                 3.0
14                1040                   5                 3.0
15                 705                   7                 0.0
16                 106                   2                 1.0
17                  90                   1                 0.0
18                  16                   1                 1.0
19               17392                 126                49.0
20               13692                 102                39.0
21                2290                  13                 6.0
22                 514                   2                 3.0
23                 705                   7                 NaN
24                  85                   0                 NaN
25                  16                   1                 1.0
26                  90                   1                 NaN

   Unnamed: 33_level_0                      Unnamed: 34_level_0
                    AV                                   Awards
0                   12                       AP ORoY-1, AP2, PB
1                   13             AP MVP-4, AP OPoY-2, AP1, PB
2                   16                                  AP1, PB
3                   11                                  AP2, PB
4                    8                                      NaN
5                   19  AP MVP-1, AP OPoY-1, AP CPoY-2, AP1, PB
6                   11                                  AP2, PB
7                    1                                      NaN
8                   14            AP OPoY-7, AP CPoY-3, AP1, PB
9                    1                                      NaN
10                   4                                      NaN
11                   3                                      NaN
12                   1                                      NaN
13                   7                                AP CPoY-3
14                   6                                      NaN
15                   5                                      NaN
16                   1                                      NaN
17                   1                                      NaN
18                   0                                      NaN
19                 129                                      NaN
20                 106                                      NaN
21                  13                                      NaN
22                   3                                      NaN
23                   5                                      NaN
24                   1                                      NaN
25                   0                                      NaN
26                   1                                      NaN

[27 rows x 35 columns]

In [132]:
ad.columns = ad.columns.droplevel(0)
print(ad)

      Year     Age   Tm  Pos   No.    G   GS   Att    Yds   TD  ...   Y/G  \
0    2007*      22  MIN   RB  28.0   14    9   238   1341   12  ...  19.1
1   2008*+      23  MIN   RB  28.0   16   15   363   1760   10  ...   7.8
2   2009*+      24  MIN   RB  28.0   16   15   314   1383   18  ...  27.3
3    2010*      25  MIN   RB  28.0   15   15   283   1298   12  ...  22.7
4     2011      26  MIN   RB  28.0   12   12   208    970   12  ...  11.6
5   2012*+      27  MIN   RB  28.0   16   16   348   2097   12  ...  13.6
6    2013*      28  MIN   RB  28.0   14   14   279   1266   10  ...  12.2
7     2014      29  MIN   RB  28.0    1    1    21     75    0  ...  18.0
8   2015*+      30  MIN   RB  28.0   16   16   327   1485   11  ...  13.9
9     2016      31  MIN   RB  28.0    3    3    37     72    0  ...   2.7
10    2017      32  2TM   RB   NaN   10    7   156    529    2  ...   7.0
11     NaN     NaN  ARI   RB  23.0    6    6   129    448    2  ...  11.0
12     NaN     NaN  NOR   RB  28.0    4    1    27     81    0  ...   1.0
13    2018      33  WAS   RB  26.0   16   16   251   1042    7  ...  13.0
14    2019      34  WAS   RB  26.0   15   15   211    898    5  ...   9.5
15    2020      35  DET   RB  28.0   16   10   156    604    7  ...   6.3
16    2021      36  2TM   RB   NaN    4    3    38     98    2  ...   2.0
17     NaN     NaN  TEN   RB   8.0    3    2    27     82    1  ...   2.7
18     NaN     NaN  SEA   RB  21.0    1    1    11     16    1  ...   NaN
19  Career  Career  NaN  NaN   NaN  184  167  3230  14918  120  ...  13.4
20  10 yrs  10 yrs  MIN  NaN   NaN  123  116  2418  11747   97  ...  15.8
21   2 yrs   2 yrs  WAS  NaN   NaN   31   31   462   1940   12  ...  11.3
22    1 yr    1 yr  ARI  NaN   NaN    6    6   129    448    2  ...  11.0
23    1 yr    1 yr  DET  NaN   NaN   16   10   156    604    7  ...   6.3
24    1 yr    1 yr  NOR  NaN   NaN    4    1    27     81    0  ...   1.0
25    1 yr    1 yr  SEA  NaN   NaN    1    1    11     16    1  ...   NaN
26    1 yr    1 yr  TEN  NaN   NaN    3    2    27     82    1  ...   2.7

     Ctch%  Y/Tgt  Touch  Y/Tch   YScm  RRTD   Fmb   AV  \
0    67.9%    9.6    257    6.3   1609    13   4.0   12
1    53.8%    3.2    384    4.9   1885    10   9.0   13
2    75.4%    7.6    357    5.1   1819    18   7.0   16
3    72.0%    6.8    319    5.1   1639    13   1.0   11
4    75.0%    5.8    226    4.9   1109    13   1.0    8
5    78.4%    4.3    388    6.0   2314    13   4.0   19
6    72.5%    4.3    308    4.7   1437    11   5.0   11
7    66.7%    6.0     23    4.0     93     0   0.0    1
8    83.3%    6.2    357    4.8   1707    11   7.0   14
9    50.0%    1.3     40    2.0     80     0   1.0    1
10   57.9%    3.7    167    3.6    599     2   3.0    4
11   56.3%    4.1    138    3.7    514     2   3.0    3
12   66.7%    1.3     29    2.9     85     0   0.0    1
13   76.9%    8.0    271    4.6   1250     8   3.0    7
14   73.9%    6.2    228    4.6   1040     5   3.0    6
15   66.7%    5.6    168    4.2    705     7   0.0    5
16  100.0%    2.0     42    2.5    106     2   1.0    1
17  100.0%    2.0     31    2.9     90     1   0.0    1
18     NaN    NaN     11    1.5     16     1   1.0    0
19   71.9%    5.8   3535    4.9  17392   126  49.0  129
20   72.2%    5.8   2659    5.1  13692   102  39.0  106
21   75.5%    7.1    499    4.6   2290    13   6.0   13
22   56.3%    4.1    138    3.7    514     2   3.0    3
23   66.7%    5.6    168    4.2    705     7   NaN    5
24   66.7%    1.3     29    2.9     85     0   NaN    1
25     NaN    NaN     11    1.5     16     1   1.0    0
26  100.0%    2.0     31    2.9     90     1   NaN    1

                                     Awards
0                        AP ORoY-1, AP2, PB
1              AP MVP-4, AP OPoY-2, AP1, PB
2                                   AP1, PB
3                                   AP2, PB
4                                       NaN
5   AP MVP-1, AP OPoY-1, AP CPoY-2, AP1, PB
6                                   AP2, PB
7                                       NaN
8             AP OPoY-7, AP CPoY-3, AP1, PB
9                                       NaN
10                                      NaN
11                                      NaN
12                                      NaN
13                                AP CPoY-3
14                                      NaN
15                                      NaN
16                                      NaN
17                                      NaN
18                                      NaN
19                                      NaN
20                                      NaN
21                                      NaN
22                                      NaN
23                                      NaN
24                                      NaN
25                                      NaN
26                                      NaN

[27 rows x 35 columns]

In [133]:
ad_2012 = ad.query('Year == "2012*+" ')
display(ad_2012)

,Year,Age,Tm,Pos,No.,G,GS,Att,Yds,TD,...,Y/G,Ctch%,Y/Tgt,Touch,Y/Tch,YScm,RRTD,Fmb,AV,Awards
5,2012*+,27,MIN,RB,28.0,16,16,348,2097,12,...,13.6,78.4%,4.3,388,6.0,2314,13,4.0,19,"AP MVP-1, AP OPoY-1, AP CPoY-2, AP1, PB"

In [134]:
ad_2012 = ad_2012[["Year", "G", "Yds", "TD"]]
display(ad_2012)

     Year   G   Yds    Yds  TD  TD
5  2012*+  16  2097  217.0  12   1

In [135]:
ad_2012.columns = ["Year", "G", "Rush_Yds", "Rec_Yds", "Rush_TDs", "Rec_TDs"]
display(ad_2012)

     Year   G  Rush_Yds  Rec_Yds  Rush_TDs  Rec_TDs
5  2012*+  16      2097    217.0        12        1

In [136]:
ad_2012["Total_Yds"] = ad_2012["Rush_Yds"] + ad_2012["Rec_Yds"]
ad_2012["Total_TDs"] = ad_2012["Rush_TDs"] + ad_2012["Rec_TDs"]
ad_2012["Player"] = "Adrian Peterson" 
display(ad_2012)

,Year,G,Rush_Yds,Rec_Yds,Rush_TDs,Rec_TDs,Total_Yds,Total_TDs,Player
5,2012*+,16,2097,217.0,12,1,2314.0,13,Adrian Peterson

In [137]:
ad_2012_final = ad_2012[["Year", "Player", "G", "Rush_Yds", "Rec_Yds", "Total_Yds", "Rush_TDs", "Rec_TDs",  "Total_TDs"]]
display(ad_2012_final)

,Year,Player,G,Rush_Yds,Rec_Yds,Total_Yds,Rush_TDs,Rec_TDs,Total_TDs
5,2012*+,Adrian Peterson,16,2097,217.0,2314.0,12,1,13

In [138]:
cmac_ad = cmac_2023_final.append(ad_2012_final)
display(cmac_ad)

C:\Users\294747\AppData\Local\Temp\1\ipykernel_11940\2896180030.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cmac_ad = cmac_2023_final.append(ad_2012_final)

,Year,Player,G,Rush_Yds,Rec_Yds,Total_Yds,Rush_TDs,Rec_TDs,Total_TDs
8,2023,Christian McCaffrey,14,1292,509.0,1801.0,13,7,20
5,2012*+,Adrian Peterson,16,2097,217.0,2314.0,12,1,13

<h2>With 1,801 yards currently, McCaffrey would have to average 171 total yards over the next 3 games to match Peterson's total in 2012.  Considering McCaffrey is averaging 129 total yards per game on the season, increasing that number by 42 yards for the remaining games would be tough task.  Another factor that's working against McCaffrey is that all of his receiving yards also count as passing yards for Purdy.  Given the pass-heavy era of the NFL that we are in, there will be some voters who view McCaffrey's receiving yards as a QB stat since Purdy is the one throwing him the ball.  Another thing of note: Peterson's 2,097 rushing yards in 2012 was just 8 yards away from Eric Dickerson's all-time record for most rushing yards in a season.  It feels like in today's era that a RB would need to have a special season in the rushing department like Peterson to have a solid shot at MVP. The gap between McCaffrey and Peterson in that department is pretty wide.